.carousel-card {
  @apply absolute top-0 left-1/2
         w-[340px] h-[480px]
         rounded-2xl overflow-hidden
         transition-all duration-500 ease-in-out
         shadow-2xl bg-black;
}

/* LEFT SIDE */
.left-far {
  transform: translateX(-190%) scale(0.7);
  opacity: 0.3;
  z-index: 0;
}

.left-near {
  transform: translateX(-120%) scale(0.85);
  opacity: 0.55;
  z-index: 1;
}

/* CENTER */
.center {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 3;
}

/* RIGHT SIDE */
.right-near {
  transform: translateX(20%) scale(0.85);
  opacity: 0.55;
  z-index: 1;
}

.right-far {
  transform: translateX(90%) scale(0.7);
  opacity: 0.3;
  z-index: 0;
}

.card-video {
  @apply w-full h-full object-cover;
}
